*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    height: 10vh;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-size: x-large;
    font-family:sans-serif;
}

ul{
    display:flex;
    align-items: center;
    list-style: none;
}

li{
    font-size: medium;
    padding: 2rem;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

main{
    background-color: #f7f3f3;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 40vh;
    border-radius: 100%;
    background-color: gainsboro;
}
img{
    width: 30vh;
    opacity: 70%;
}
footer{
    height: 5vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}



